.header {
  margin:0px 0px 0px 0;

}

body {
  background-image: url(image/arriereplan1.jpg);
  background-repeat:no-repeat;
  background-size: cover;
}

.nav-item {
  background-color: transparent;
}

.navbar {
  margin: 0;
  padding: 0;
  font-size: 20px;
  overflow: auto;
  text-align: left;
  font-weight: bold;
}

article {
  text-align: right;
}

.col-lg-2 {
  padding-left: 0;
}

.col-lg-10 {
  padding-right: 0;
}

p {
  text-align: justify;
  color : #007bff;
  }

figure {
  background-color: white;
}

#formControlRange {
  width: 85px;

}

#profilphoto {
  text-align: center;
}
