.header {
  margin:0px 0px 0px 0;

}

body {
  background-image: url(image/arriereplan1.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  position: relative;
  z-index: 80;
}

.nav-item {
  background-color: transparent;
}

.navbar {
  margin: 0;
  padding: 0;
  font-size: 20px;
  overflow: auto;
  text-align: left;
  font-weight: bold;
}

article {
  text-align: right;
}

.col-lg-2 {
  padding-left: 0;
}

.col-lg-10 {
  padding-right: 0;
}

p {
  font-size: 1.3rem;
  text-shadow: 5px;
  font-weight: bold;
  text-align: justify;
  color : #007bff;
  }

figure {
  color: #007bff;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  position: absolute;
  z-index: 120;

}

ul {
  list-style-type: none;
}

#formControlRange {
  width: 85px;

}

#profilphoto {
  text-align: center;
}

.langues {
  background-color: white;
}

footer {
  text-align: right;
  padding-right: 20px;
}

.btn {
  font-size: 1.5rem;
}
